body {
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 20% 80%;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sign {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
}

.calculator-frame {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 60%;
  height: 75%;
  display: grid;
  grid-template-columns: repeat(4, 24.25%);
  grid-template-rows: repeat(7, 13.428%);
  grid-gap: 1%;
  padding: 1%;
  background-color: #120458;
}

.display-calculation {
  grid-column: 1/5;
  grid-row: 1/2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Press Start 2P", cursive;
  overflow: hidden;
  background-color: #1b663e;
}

.entered-calculation {
  grid-column: 1/5;
  grid-row: 2/3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Press Start 2P", cursive;
  font-size: 1.7vw;
  overflow: hidden;
  background-color: #1b663e;
}

.number-button {
  font-size: 1.5rem;
  border-radius: 0;
  border: 0;
  background-color: rgb(43, 43, 43);
  color: white;
  transition: 0.3s;
}

.number-button:hover {
  background-color: #0a9cf5;
  color: black;
}

.expression-button {
  font-size: 2rem;
  border-radius: 0;
  border: 0;
  background-color: #ff124f;
  transition: 0.3s;
}

.expression-button:hover {
  background-color: #0a9cf5;
}

.equals-button {
  font-size: 2rem;
  border-radius: 0;
  border: 0;
  background-color: #ff124f;
  transition: 0.3s;
}

.equals-button:hover {
  background-color: #0a9cf5;
}

.deleteit {
  font-size: 2rem;
  border-radius: 0;
  border: 0;
  transition: 0.3s;
}

.deleteit:hover {
  background-color: #0a9cf5;
}

.title {
  font-family: "Bungee Inline", cursive;
  color: pink;
}

#btnZero {
  grid-column: 2/3;
  grid-row: 7/8;
}

#btnOne {
  grid-column: 1/2;
  grid-row: 6/7;
}

#btnTwo {
  grid-column: 2/3;
  grid-row: 6/7;
}

#btnThree {
  grid-column: 3/4;
  grid-row: 6/7;
}

#btnFour {
  grid-column: 1/2;
  grid-row: 5/6;
}

#btnFive {
  grid-column: 2/3;
  grid-row: 5/6;
}

#btnSix {
  grid-column: 3/4;
  grid-row: 5/6;
}

#btnSeven {
  grid-column: 1/2;
  grid-row: 4/5;
}

#btnEight {
  grid-column: 2/3;
  grid-row: 4/5;
}

#btnNine {
  grid-column: 3/4;
  grid-row: 4/5;
}

#equals {
  grid-column: 3/5;
  grid-row: 7/8;
}

#decimal {
  grid-column: 1/2;
  grid-row: 7/8;
}

#delete {
  grid-column: 1/2;
  grid-row: 3/4;
}

#clear {
  grid-column: 2/3;
  grid-row: 3/4;
}

@media (max-width: 1280px) {
  body {
    grid-template-columns: 0% 100% 0%;
  }
  .entered-calculation {
    font-size: 2.8vw;
  }
}

@media (max-width: 421px) {
  .display-calculation {
    font-size: 0.7rem;
  }
  .deleteit {
    font-size: 1rem;
  }
}

@media (max-width: 601px) {
  .entered-calculation {
    font-size: 2.8vw;
  }
  .sign {
    font-size: 8vw;
  }
  .deleteit {
    font-size: 1.5rem;
  }
}

.neonText3 {
  animation: flicker 3s alternate;
  animation-iteration-count: 2;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #0a9cf5, 0 0 21px #0a9cf5,
    0 0 42px #0a9cf5, 0 0 82px #0a9cf5, 0 0 92px #0a9cf5;
}

.neonText2 {
  animation: flicker1 3s alternate;
  animation-iteration-count: 2;

  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #ff124f, 0 0 21px #ff124f,
    0 0 42px #ff124f, 0 0 82px #ff124f, 0 0 92px #ff124f, 0 0 102px #ff124f,
    0 0 151px #ff124f;
}

@keyframes flicker {
  20%,
  40%,
  70%,
  95% {
    text-shadow: 0 0 4px #fff, 0 0 11px #0a9cf5, 0 0 19px #0a9cf5,
      0 0 40px #0a9cf5, 0 0 80px #0a9cf5, 0 0 90px #0a9cf5, 0 0 100px #0a9cf5,
      0 0 150px #0a9cf5;
  }
  0%,
  18%,
  22%,
  25%,
  53%,
  57% {
    text-shadow: none;
  }
}

@keyframes flicker1 {
  20%,
  40%,
  70%,
  95% {
    text-shadow: 0 0 4px #fff, 0 0 11px #ff124f, 0 0 19px #ff124f,
      0 0 40px #ff124f, 0 0 80px #ff124f, 0 0 90px #ff124f, 0 0 100px #ff124f,
      0 0 150px #ff124f;
  }
  0%,
  18%,
  22%,
  25%,
  53%,
  57% {
    text-shadow: none;
  }
}

@keyframes flicke2 {
  20%,
  40%,
  70%,
  95% {
    background-color: 0 0 4px #fff, 0 0 11px #0a9cf5, 0 0 19px #0a9cf5,
      0 0 40px #0a9cf5, 0 0 80px #0a9cf5, 0 0 90px #0a9cf5, 0 0 100px #0a9cf5,
      0 0 150px #0a9cf5;
  }
  0%,
  18%,
  22%,
  25%,
  53%,
  57% {
    background-color: none;
  }
}
