body {
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 8rem 40rem;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sign {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
}

.calculator-frame {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 60%;
  height: 75%;
  display: grid;
  grid-template-columns: repeat(4, 24.25%);
  grid-template-rows: repeat(7, 13.428%);
  grid-gap: 1%;
  padding: 1%;
  background-color: #120458;
}

.display-calculation {
  grid-column: 1/5;
  grid-row: 1/2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Press Start 2P", cursive;
  overflow: hidden;
  background-color: #1b663e;
}

.entered-calculation {
  grid-column: 1/5;
  grid-row: 2/3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Press Start 2P", cursive;
  font-size: 2rem;
  overflow: hidden;
  background-color: #1b663e;
}

.number-button {
  font-size: 1.5rem;
  border-radius: 0;
  border: 0;
  background-color: rgb(43, 43, 43);
  color: white;
}

.expression-button {
  font-size: 2rem;
  border-radius: 0;
  border: 0;
  background-color: #ff124f;
}

.equals-button {
  font-size: 2rem;
  border-radius: 0;
  border: 0;
  background-color: #ff124f;
}

.deleteit {
  font-size: 2rem;
  border-radius: 0;
  border: 0;
}

.title {
  font-family: "Bungee Inline", cursive;
  color: pink;
}

#btnZero {
  grid-column: 2/3;
  grid-row: 7/8;
}

#btnOne {
  grid-column: 1/2;
  grid-row: 6/7;
}

#btnTwo {
  grid-column: 2/3;
  grid-row: 6/7;
}

#btnThree {
  grid-column: 3/4;
  grid-row: 6/7;
}

#btnFour {
  grid-column: 1/2;
  grid-row: 5/6;
}

#btnFive {
  grid-column: 2/3;
  grid-row: 5/6;
}

#btnSix {
  grid-column: 3/4;
  grid-row: 5/6;
}

#btnSeven {
  grid-column: 1/2;
  grid-row: 4/5;
}

#btnEight {
  grid-column: 2/3;
  grid-row: 4/5;
}

#btnNine {
  grid-column: 3/4;
  grid-row: 4/5;
}

#equals {
  grid-column: 3/5;
  grid-row: 7/8;
}

#decimal {
  grid-column: 1/2;
  grid-row: 7/8;
}

#delete {
  grid-column: 1/2;
  grid-row: 3/4;
}

#clear {
  grid-column: 2/3;
  grid-row: 3/4;
}

@media (max-width: 1280px) {
  body {
    grid-template-columns: 0% 100% 0%;
  }
}

@media (max-width: 401px) {
  .display-calculation {
    font-size: 0.8rem;
  }
}
